#app3 {
  height: 50vh;
  width: 50%;
  border: 1px solid yellow;
}
#app3 > .square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin-top: 50px;
  transition: linear 1s;
}

.move {
  transform: translateX(100px);
}
